//* Buttom

.btn {
  &,
  &:link,
  &:visited {
    display: block;
    padding: rem(15) 0;
    margin: rem(10) 0;
    width: 300px;

    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    background-color: $color-hover;
    border: 1px solid $color-hover;
    border-radius: $global-radius;
    box-shadow: 0 0.2rem 0.5rem rgba($color-black, 0.2);

    transition: $global-transition;
    cursor: pointer;

    &.--white{
      background-color: transparent;
      border: 1px solid $color-hover;
      color: $color-hover;
    }
  }

  &:hover {
    color: $color-link;
    transform: translateY(-3px);
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.7rem 1.3rem rgba($color-black, 0.3);
  }
}