//* Colors

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-very-light-grey: #ccc;
$color-light-grey: #999;
$color-medium-grey: #666;
$color-dark-grey: #3e3e3e;
$color-green: #c6d301;
$color-dark-green: #375d2f;
$color-darker-green: #2a4724;
$color-red: #c02b3f;


// Text
$color-bg: $color-white;
$color-text: $color-dark-grey;


// Links
$color-link: $color-white;
$color-hover: $color-green;


// Borders
$color-border: $color-very-light-grey;


// Fills
$color-fill: $color-green;