.footer-copy{
  padding: rem(10) 0;
  background-color: $color-fill;
  color: $color-link;
  font-weight: 700;

  > .wrapper {
    max-width: 900px;
    @include push--auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(5);
    

    @include for-tablet-portrait-down {
      flex-wrap: wrap;
      text-align: center;
    }

    .copy {
      @include for-tablet-portrait-down {
        width: 100%;
      }
    }

    .social-share{
      @include for-tablet-portrait-down {
        @include push--auto;    
      }

      .icon:hover {
        color: $color-darker-green;
      }
    }
  }
  
  .logotipo-red {
    width: 30px;
  }


}

