.header-cta {
  max-width: 900px;
  @include push--auto;
  text-align: right;
  color: $color-link;
  display: flex;
  align-items: center;

  @include for-tablet-landscape-down {    
    max-width: 769px;
  }

  @media only screen and (max-width: em(768)) {
    flex-wrap: wrap;
    justify-content: center;
  }

  > .img {
    max-width: 560px;
    transform: translateY(-3.5px);    

    @include for-tablet-landscape-down {
      max-width: 470px;
    }

    @media only screen and (max-width: em(768)) {
      max-width: 560px;
    }

    @include for-tablet-portrait-down {
      max-width: 90%;
    }
    
  }

  > .box{
    margin-left: -150px;
    z-index: 2;

    @include for-tablet-landscape-down {
      // margin-left: -170px;
    }

    @media only screen and (max-width: em(768)) {
      margin-left: 0;
      width: 100%;
    }
  
  > .numero {
     font-size: rem(140);
     font-weight: 700;
     margin: 0;
     line-height: .9;
     width: 470px;
     margin-left: auto;
     text-align: left;

     @include for-tablet-landscape-down {
      font-size: rem(130);
      width: 430px;
    }

    @media only screen and (max-width: em(768)) {
     width: 100%;
     text-align: center;
    }

    @include for-tablet-portrait-down {
      font-size: rem(95);
    }

   }
  
  > .chamada {
     font-size: rem(60);
     font-weight: 700;
     margin: 0;
     line-height: 1;
     width: 470px;
     margin-left: auto;
     text-align: left;
     text-indent: 10px;

     @include for-tablet-landscape-down {
      font-size: rem(50);
      width: 430px;
      text-align: center;
      text-indent: 0;
    }
    @media only screen and (max-width: em(768)) {
      width: 100%;
      text-align: center;
     }
   }
  
  > .content {
     width: 470px;
     margin-left: auto;
     text-align: center;
     font-weight: 400;

     @include for-tablet-landscape-down {
      width: 430px;
    }
    @media only screen and (max-width: em(768)) {
      width: 80%;
      @include push--auto;
      
      text-align: center;
     }
   }
  
  > .btn {
    margin-left: auto;

    @media only screen and (max-width: em(768)) {
      @include push--auto;

      &.--white {
        margin-bottom: rem(50);
      }
    }
   }
  }
}

