.section-novidades {
  padding: rem(70) rem(10);
  background: url('../../assets/img/bg-novidades.png') left center no-repeat;
  background-size: cover;

  > .wrapper {
    max-width: 900px;
    @include push--auto;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width:  em(768)){
      flex-wrap: wrap;
    }
  }
}

.novidades-title{
  > .title {
    max-width: 400px;
    color: $color-hover;
    line-height: 1.4;
    margin-bottom: 0;

    @media only screen and (max-width:  em(768)){
      max-width: 100%;
      text-align: center;
      margin-bottom: rem(10);
    }
  }

  >.content {    
    max-width: 530px;
    text-align: left;

    @media only screen and (max-width:  em(768)){
      max-width: 100%;
      text-align: center;
     }
  }
}

.novidades-share{

  @media only screen and (max-width:  em(768)){
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include for-tablet-portrait-down {
    display: block;
    @include push--auto;
  }

  > .title{
    color: $color-hover;
    font-size: rem(16);

    @media only screen and (max-width:  em(768)){
      margin-top: rem(5);
      margin-bottom: rem(5);
      margin-right: rem(10);
      font-size: rem(18)
    }

  }

  >.social-share {
    text-align: right;

    @include for-tablet-portrait-down {
      text-align: center;
    }
  }
}

.grid-novidades {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  @include push--auto;
  justify-content: center;
  align-items: center; 

  > .figure {
    max-width: 280px;
    margin: 5px;
  }
}