.top-share {
  display: flex;

  > .play-jimgle{
    margin-right: 3rem;
    margin-left: auto;

    span {
      text-transform: uppercase;
      color: $color-link;
    }
  }

  .player {
    padding: 0;
    border: none;
    background-color: transparent;
    color: $color-link;
    // font-size: 1.5rem;
  }
}