.top-nav {
  &__input {
    @include hidden-visually;
  }

  &__label {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 30px;
    right: 27.5px;
    cursor: pointer;
    z-index: 20;

    @include for-tablet-portrait-up {
      @include hidden-visually
    }
  }

  &__span {
    width: 40px;
    height: 3px;
    display: inline-block;
    position: absolute;
    background-color: $color-fill;
    top: 20px;
    right: 2.5px;
    border-radius: $global-radius;
    transition: $global-transition;

    @include for-tablet-portrait-up {
      @include hidden-visually
      
    }

    &::before,
    &::after {
      content: "";
      width: 40px;
      height: 3px;
      display: block;
      position: absolute;
      z-index: 10;
      background-color: $color-fill;
      border-radius: $global-radius;
      transition: $global-transition;
    }

    &::before {
      top: 10px;
    }

    &::after {
      bottom: 10px;
    }
  }

  &__input {
    &:checked ~ .top-nav__label .top-nav__span {
      background-color: transparent;
    }

    &:checked ~ .top-nav__label .top-nav__span:before {
      transform: rotate(-135deg);
      background-color: $color-white;
      box-shadow: 0 0 4px rgba($color-green, 0.9);
      top: 0;
    }

    &:checked ~ .top-nav__label .top-nav__span:after {
      transform: rotate(135deg);
      background-color: $color-white;
      box-shadow: 0 0 4px rgba($color-green, 0.9);
      bottom: 0;
    }

    &:checked ~ .box {
      transform: translateY(0);
    }
  }

  .box {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba($color-dark-green, 0.9);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: $global-transition;

    @include for-tablet-portrait-up {
      transform: translateY(0);
      height: 100%;
      position: inherit;
      width: 100%;
      align-items: flex-end;
      justify-content: flex-start;
      background: transparent;
    }
  }

  .play-jimgle {
    margin-top: 10px;

    > .player {
      background-color: transparent;
      border: none;
      color: $color-link;
      font-size: 20px;      

      @include for-tablet-portrait-up {         
        font-size: rem(15)
      }
    }

    span {
      color: $color-link;
      text-transform: uppercase;
      font-size: 16px;

      @include for-tablet-portrait-up {
        margin-right: rem(10);
        line-height: 1.6;        
        font-size: rem(13)
      }
    }
  }
  .top-share{
    @include for-tablet-portrait-up {
      display: flex;
      align-items: center;
    }
  }
  .social-share {
    font-size: 20px;
    text-align: center;
    margin-bottom: rem(100);
    margin-top: rem(20);

    @include for-tablet-portrait-up {
      margin-bottom: 0;
      margin-top: 0;
      font-size: rem(15)
    }
  }

  .top-navigation {
    text-transform: uppercase;
    text-align: center;
    font-size: rem(20);

    .list {
      @include for-tablet-portrait-up {
        font-size: rem(13);
        display: flex;
      }
    }

    .item {
      @include for-tablet-portrait-up {
        &:not(:last-child){
          margin-right: rem(10);
        }
      }
    }

    .link {
      @include for-tablet-portrait-up {
        @include underline-links;
      }
    }
  }
}
