body {
  background: $color-bg;
  
  color: $color-text;
  font-size: $font-size;
  font-family: $font-sans-serif;
  line-height: $line-height;
  
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           text-rendering: optimizeLegibility;
}
