@mixin underline-links {

  &:link,
  &:active {
    position: relative;
    text-transform: uppercase;
    
    &::after {
      @include pseudo;
      left: 0;
      height: 2px;
      background-color: $color-hover;
      transform-origin: 0;
      transition: $global-transition;
      width: 0;
    }
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    width: 100%;
  }
}